.VPNavBar {
    position: fixed;
    width: 100%;
  }
  
  .VPSidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .VPSidebar.open {
    transform: translateX(0);
  }
  